<div class="data-analysis">
  <h1>~~testing</h1>
  <h1><%= @nlpSpellScoreByPassage %></h1>
  <!-- <h1><%= @other %></h1>
  <h1><%= @otherSpell %></h1>
  <h1><%= @bookData %></h1>
  <h1><%=@test %></h1> -->
  <p>
    This project aims to test your ability to draw meaning from context clues through a
    fun game utilizing harry potter data.
  </p>
  <p>
    Are you ready to play?
  </p>
</div>
